# Ignore NodeJS Modules
node_modules/
# Ignore Package JSON
package-lock.json
# Ignore logs
*.log
# Ignore .env
.env
convert-csv.py
        final_data.csv
        final_data.json
 .eslintrc.json
        .gitattributes

